webInterface/webInterface/webInterface/templates/assets/js/kbdPage.js
webInterface/RFIDpassTyper.bsdesign
webInterface/index.html
webInterface/webInterface.sln
webInterface/.vs/webInterface/v15/.suo
webInterface/assets/css/styles.css
webInterface/webInterface/kbd_map.py
webInterface/webInterface/kbdinjector.py
webInterface/webInterface/requirements.txt
webInterface/webInterface/runserver.py
webInterface/webInterface/webInterface.pyproj
webInterface/webInterface/webInterface.pyproj.user
webInterface/webInterface/webInterface/__init__.py
webInterface/webInterface/webInterface/views.py
webInterface/webInterface/webInterface/static/js/kbdPage.js
webInterface/webInterface/webInterface/templates/index.html
webInterface/webInterface/webInterface/templates/script import.txt
webInterface/webInterface/webInterface/templates/assets/css/styles.css
